<div class='directions-container'>
    <div class='directions' id="map"></div>
    <div class='directions' id="right-panel">
        <p>Total Distance: <span id="total"></span></p>
    </div>
</div>

<div id="floating-panel">
    <b>Mode of Travel: </b>
    <select id="mode">
      <option value="DRIVING">Driving</option>
      <option value="WALKING">Walking</option>
      <option value="BICYCLING">Bicycling</option>
      <option value="TRANSIT">Transit</option>
    </select>
</div>

<%= render partial: 'shared/googlemapcall', :locals => { googleMap: 'initDirMap' } %>
    <%= javascript_include_tag "maps/directions_map.js" %>