.main-title {
    padding-top: 50px;
}

h1 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 600;
    font-size: 175px;
    padding: 20px;
    margin-bottom: 20px;
    color: #EEE6eD;
}

#up {
    font-style: italic;
    font-weight: 800;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Amatic SC', cursive;
    font-weight: 800;
    font-size: 50px;
    color: #EEE6eD;
}

.container {
    text-align: center;
}

.jumbotron {
    margin-top: 75px;
    min-width: 100%;
    min-height: 600px;
    background: linear-gradient( rgba(0, 0, 0, .2), rgba(0, 0, 0, .3)), url('photo-nic-co-uk-nic-150150.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

input[type=text] {
    margin-top: 30px;
    border-style: none;
    border-radius: 5px;
    height: 40px;
    width: 500px;
    font-size: 30px;
    padding: 3px;
    background-color: #EEE6eD
}

input[type=submit] {
    margin-top: 5px;
    border-style: none;
    height: 45px;
    width: 505px;
    border-radius: 5px;
    background-color: #BF392e;
    color: #ffffff;
    font-size: 20px;
    font-weight: 200;
}

.search-box {
    width: 100%;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: lightgray;
    font-weight: 200;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: lightgray;
    font-weight: 200;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: lightgray;
    font-weight: 200;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: lightgray;
    font-weight: 200;
}