<div class='event-count'>Your search returned
    <%=@events.count%>
        results
</div>
<div class='event-search-results'>
    <% @events.each do |event|%>
        <%= render partial: current_guest, locals: {event: event} %>
            <%end%>
</div>