<section class="landing-container">
    <div class='jumbotron'>
        <h1 class='main-title'>Trail<span id='up'>Up</span></h1>
        <h3>Find Trails. Find Friends. Get Outside. </h3>
        <div class='search-box'>
            <input type="text" placeholder="location...">
        </div>
        <div>
            <input type="submit" value='Find Events Near You'>
        </div>
    </div>
</section>