<div class="user-profile-edit">
  <%= image_tag("#{@user.avatar}") %>
  <div class="information">
  <br>
    Upload profile photo
  </div>
  <div class="upload">
    <%= render partial: "pictures/form", imageable: @user, :locals => { object: @user } %>
  </div>
</div>
