    .jumbotron input[type=text] {
        margin-top: 30px;
        border-style: none;
        border-radius: 5px;
        height: 40px;
        width: 500px;
        font-size: 30px;
        padding: 3px;
        background-color: #EEE6eD
    }

    .jumbotron input[type=submit] {
        margin-top: 5px;
        border-style: none;
        height: 45px;
        width: 505px;
        border-radius: 5px;
        background-color: #BF392e;
        color: #ffffff;
        font-size: 20px;
        font-weight: 200;
    }

     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: lightgray;
        font-weight: 200;
    }

     ::-moz-placeholder {
        /* Firefox 19+ */
        color: lightgray;
        font-weight: 200;
    }

     :-ms-input-placeholder {
        /* IE 10+ */
        color: lightgray;
        font-weight: 200;
    }

     :-moz-placeholder {
        /* Firefox 18- */
        color: lightgray;
        font-weight: 200;
    }

    .form form {
        border: 1px solid black;
        border-radius: 10px;
        padding: 20px;
        margin: 100px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 30%;
        justify-content: center;
        align-items: center;
    }

    .form input[type=text],
    input[type=email],
    input[type=password] {
        border-style: none;
        border-radius: 5px;
        padding: 3px;
        background-color: #ffffff;
        width: 300px;
        height: 30px;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .form label {
        width: 100px;
        height: 30px;
        font-weight: 800;
        text-transform: uppercase
    }

    .form input[type=submit] {
        border-style: none;
        border-radius: 5px;
        background-color: #BF392e;
        color: #ffffff;
        font-size: 16px;
        font-family: 'Lato';
        width: 305px;
        height: 30px;
        margin-top: 10px;
    }

    .trail-form {
        text-align: center;
        form {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            justify-content: center;
        }
        input[type=text],
        input[type=number],
        input[type=submit],
        select,
        label {
            margin-top: 5px;
            margin-bottom: 5px;
            height: 30px;
            font-size: 16px;
            border-radius: 5px;
            border-style: none;
        }
    }

    .event-form {
      label {
        width: 100%;
      }
      button {
        margin-top: 10px;
      }
    }

    .role-based-event-link {
      display: flex;
      justify-content: center;
      font-family: 'Amatic SC';
      font-weight: 600;
      font-size: 40px;
      padding: 20px;
    }
