<div hidden id='googleMapApi'><%=ENV['google_map_api_key']%></div>

<script scr="app/assets/javascripts/vendor/marker_cluster/markerclusterer.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['google_map_api_key']%>&callback=<%=googleMap%>">
</script>