<div class='new-trail-page'>
  <header>
    <div class='banner'>
      <h1> Create A Trail </h1>
    </div>
    <div class='search'>
      <input id="location-search-box" type="text" placeholder="go to...">
      <input id='location-search-button' type="submit" value="Search">
    </div>
  </header>

  <main>
    <div class='new-map-holder'>
      <div id="map" class='map'></div>
    </div>
    <div class='trail-preview'>
      <%= render partial: 'trails/form' %>
    </div>
  </main>
</div>

<%= render partial: 'shared/googlemapcall', :locals => {googleMap: 'plopMarkerMap'} %>
<%= javascript_include_tag "maps/trail_plopper.js" %>