.event-show {
    border-radius: 5px;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    background: #ffffff;
    box-shadow: 7px 7px 5px #888888;
}

.event-show-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    section {
        width: 400px;
        margin: 10px;
        padding: 20px;
    }
    h1 {
        font-size: 30px;
        width: 100%;
        text-align: center;
    }
    h3 {
        text-decoration: underline;
        font-size: 30px;
    }
    h5 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    h1,
    h3,
    h5 {
        font-family: "Amatic SC";
        color: black;
    }
    p {
        margin-bottom: 15px;
    }
    .trail-map-info {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        // position: relative;
        // margin-top: -21%;
        // left: 17%;
    }
    .event-map-container {
        #map {
            // position: relative;
            // margin-top: 45%;
            // left: -42%;
            width: 300px;
            height: 200px;
        }
    }
}

.event-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
        border-style: none;
        border-radius: 5px;
        background-color: #BF392e;
        color: #ffffff;
        margin: 0px auto;
        font-family: "Amatic SC";
        font-size: 20px;
        font-weight: 800;
    }
}

.fitbit-information-class {
    display: flex;
    align-items: center;
}

.fitbit-data-table {
    display: flex;
    align-items: center;
    table {
        margin: 0px auto;
        text-align: center;
    }
    thead {
        border-bottom: 1px solid black;
    }
    th {
        font-size: 40px;
        font-weight: 800;
    }
    th,
    td {
        font-family: "Amatic SC";
        font-size: 30px;
        padding: 20px;
    }
}