.trails {
    display: flex;
    flex-wrap: wrap;
}

.trail {
    text-align: center;
    margin: 20px auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        display: inline-block;
    }
    h3 {
        color: black;
        font-size: 16px;
        font-family: "Lato";
        width: 100px;
    }
}

.trail-vital {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.trail-show {
  display: flex;
  flex-direction: column;
  margin: 10px;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;

    h3 {
      display: flex;
      align-self: flex-start;
      color: black;
      font-size: 42px;
    }

    p {
      width: auto;
    }
  }

  header.create-trail-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  * {
    padding: 20px;
  }

  .trail-card {
    display: flex;
    justify-content: center;
    height: 400px;

    .trail-info {
      display: flex;
      flex-direction: column;
      margin: 10px;
      border-radius: 7px;
      width: 30%;
      height: auto;
    }

    .show-trail-map {
      display: flex;
      width: 70%;
      padding: 10px;
      height: auto;

      #map {
        height: auto;
      }
    }
  }

  img {
    height: 200px;
    width: auto;
  }
}
