.trails {
    display: flex;
    flex-wrap: wrap;
}

.comments {
  background-color: white;
  border-radius: 20px;
  float: left;
  width: 50%;
  border-radius: 20px;
}

.comments h3 {
  color: black;
  font-size: 35px;;
  margin-bottom: -40px;
}


.right {
  margin-left: 53%;
  background-color: white;
  border-radius: 20px;
}

.comment  {
  background-color: #E7EAE9;
  margin-bottom: 20px;
  margin-top: -5px;
  border-radius: 25px;
}


.comment h4 {
  font-size: 20px;
}

.comment hr {
  padding: 0px;
  margin-left: 18px;
}


.comments h2, .right h2 {
  font-size: 40px;
  text-align: center;
  font-family: 'Amatic SC', cursive;

}

.cform p {
  font-size: 15px;
  margin-left: -40px;
}

.cform h5 {
  font-size: 20px;
  margin-left: -20px;
}

input[type=submit] {
  padding:5px 15px; 
  background:#EB4737; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 10px; 
  font-size: 15px
}

.cform textarea {
  padding:5px; 
  height: 100px;
  width: 96%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


.weather-info h3 {
  color: black;
  font-size: 35px;
}

.weather-info hr {
  margin-top: 30px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.weather-info {
  font-size: 20px;
  color: black;
  text-align: center;

}

.page-hold {
  margin-left: 100px;
  margin-right: 100px;

}

.weather-info ul {
  display: inline-block;
  vertical-align: top;
  padding-left: 0;
}

.weather-info li {
  margin-top: -15px;
  padding: 2px;
  list-style: none;
  text-align: center;
}

.weather-info img {
  height: 40px;
  width: 40px;
}

.similar h2 {
  margin-top: -60px;
}

.trail {
  text-align: center;
  margin: 20px auto;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: inline-block;
  }
  h3 {
    color: black;
    font-size: 16px;
    font-family: "Lato";
    width: 100px;
  }
}

.trail-vital {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.trail-show {
  display: flex;
  flex-direction: column;
  margin: 10px;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;

    h3 {
      display: flex;
      align-self: flex-start;
      color: black;
      font-size: 42px;
    }

    p {
      width: auto;
    }
  }
   .trail-info h3 {
     color: black;
   }

  header.create-trail-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  * {
    padding: 20px;
  }

  .trail-card {
    display: flex;
    justify-content: center;
    height: 400px;

    .trail-info {
      display: flex;
      flex-direction: column;
      margin: 10px;
      border-radius: 7px;
      width: 30%;
      height: auto;
    }

    .show-trail-map {
      display: flex;
      width: 70%;
      padding: 10px;
      height: auto;

      #map {
        height: auto;
      }
    }
  }


.nowrap {
  white-space: nowrap; 
}
}
