---
http_interactions:
- request:
    method: get
    uri: https://www.hikingproject.com/data/get-trails?key=200105490-8734a5e90c189f1eaeb6685811a11b92&lat=39.633321&lon=-105.317215&maxDistance=150&maxResults=20&minLength=6&sort=distance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ap-Request-Id:
      - 4af56713-26e4-4517-85a2-0b47760e5975
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "trails": [
                {
                    "id": 7003115,
                    "name": "Alderfer\/Three Sisters Loop",
                    "type": "Featured Hike",
                    "summary": "A beautiful six-mile loop through the forest with a great high point for views.",
                    "difficulty": "blue",
                    "stars": 3.7,
                    "starVotes": 3,
                    "location": "Evergreen, Colorado",
                    "url": "https:\/\/www.hikingproject.com\/trail\/7003115\/alderferthree-sisters-loop",
                    "imgSqSmall": "https:\/\/cdn-files.apstatic.com\/hike\/7021291_sqsmall_1470247977.jpg",
                    "imgSmall": "https:\/\/cdn-files.apstatic.com\/hike\/7021291_small_1470247977.jpg",
                    "imgSmallMed": "https:\/\/cdn-files.apstatic.com\/hike\/7021291_smallMed_1470247977.jpg",
                    "imgMedium": "https:\/\/cdn-files.apstatic.com\/hike\/7021291_medium_1470247977.jpg",
                    "length": 6.6,
                    "ascent": 1086,
                    "descent": -1079,
                    "high": 7486,
                    "low": 8161,
                    "longitude": -105.3464,
                    "latitude": 39.6234
                },
                {
                    "id": 7022247,
                    "name": "Lair o' the Bear Out and Back",
                    "type": "Featured Hike",
                    "summary": "This route in Lair o' the Bear Park offers visitors many of the highlights of the area.",
                    "difficulty": "blue",
                    "stars": 4.3,
                    "starVotes": 6,
                    "location": "Genesee, Colorado",
                    "url":[...]
