---
http_interactions:
- request:
    method: get
    uri: https://www.hikingproject.com/data/get-trails?key=200105490-8734a5e90c189f1eaeb6685811a11b92&lat=39.739236&lon=-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ap-Request-Id:
      - 75378fcc-6adb-4d6b-9c86-692e719c731b
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "trails": [
                {
                    "id": 7000130,
                    "name": "Bear Peak",
                    "type": "Featured Hike",
                    "summary": "A must-do hike for Boulder locals and visitors alike!",
                    "difficulty": "blueBlack",
                    "stars": 4.6,
                    "starVotes": 31,
                    "location": "Boulder, Colorado",
                    "url": "https:\/\/www.hikingproject.com\/trail\/7000130\/bear-peak",
                    "imgSqSmall": "https:\/\/cdn-files.apstatic.com\/hike\/7005712_sqsmall_1436317330.jpg",
                    "imgSmall": "https:\/\/cdn-files.apstatic.com\/hike\/7005712_small_1436317330.jpg",
                    "imgSmallMed": "https:\/\/cdn-files.apstatic.com\/hike\/7005712_smallMed_1436317330.jpg",
                    "imgMedium": "https:\/\/cdn-files.apstatic.com\/hike\/7005712_medium_1436317330.jpg",
                    "length": 5.7,
                    "ascent": 2649,
                    "descent": -2649,
                    "high": 6097,
                    "low": 8386,
                    "longitude": -105.2755,
                    "latitude": 39.9787
                },
                {
                    "id": 7004226,
                    "name": "Sunshine Lion's Lair Loop",
                    "type": "Featured Hike",
                    "summary": "Great Mount Sanitas views are the reward for this gentler loop in Sunshine Canyon.",
                    "difficulty": "blue",
                    "stars": 4.7,
                    "starVotes": 34,
                    "location": "Boulder, Colorado",
                    "url": "https:[...]
