---
http_interactions:
- request:
    method: get
    uri: https://www.hikingproject.com/data/get-trails?key=200105490-8734a5e90c189f1eaeb6685811a11b92&lat=39.653599&lon=-105.1911&maxResults=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ap-Request-Id:
      - ac76883e-5db8-4e3f-b2c0-a8c7ac5e3cc0
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "trails": [
                {
                    "id": 7000130,
                    "name": "Bear Peak",
                    "type": "Featured Hike",
                    "summary": "A must-do hike for Boulder locals and visitors alike!",
                    "difficulty": "blueBlack",
                    "stars": 4.6,
                    "starVotes": 31,
                    "location": "Boulder, Colorado",
                    "url": "https:\/\/www.hikingproject.com\/trail\/7000130\/bear-peak",
                    "imgSqSmall": "https:\/\/cdn-files.apstatic.com\/hike\/7005712_sqsmall_1436317330.jpg",
                    "imgSmall": "https:\/\/cdn-files.apstatic.com\/hike\/7005712_small_1436317330.jpg",
                    "imgSmallMed": "https:\/\/cdn-files.apstatic.com\/hike\/7005712_smallMed_1436317330.jpg",
                    "imgMedium": "https:\/\/cdn-files.apstatic.com\/hike\/7005712_medium_1436317330.jpg",
                    "length": 5.7,
                    "ascent": 2649,
                    "descent": -2649,
                    "high": 6097,
                    "low": 8386,
                    "longitude": -105.2755,
                    "latitude": 39.9787
                },
                {
                    "id": 7011192,
                    "name": "Boulder Skyline Traverse",
                    "type": "Featured Hike",
                    "summary": "The classic long mountain route in Boulder.",
                    "difficulty": "black",
                    "stars": 4.9,
                    "starVotes": 15,
                    "location": "Superior, Colorado",
                    "url": "https:\/\/www.hikingproject.com\/trail\/7011[...]
