<section class='trail-search'>
    <div class='search-box'>
        <input id="location-search-box" type="text" placeholder="location...">
        <input id='location-search-button' type="submit" value="Find Trails">
    </div>
    <div class='map_holder'>
        <div id="map" class='map'></div>
    </div>
    <!-- <div class='trail-info'>
    </div> -->
</section>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwdTm2xiTCPxTGZr_O7HsvVaQb8nKrS3o&callback=initMap">
</script>