<section class='select-heading'>
    <h1> Find A Trail </h1>
    <p>Click on a trail marker to find out more info</p>
    <p>Put in an address or zipcode to dial in your search</p>
</section>
<section class='select-trail-search'>
    <div class='query'>
        <div class='search-box'>
            <input id="location-search-box" type="text" placeholder="location...">
            <input id='location-search-button' type="submit" value="Search">
        </div>
    </div>
    <div class=' select_map_holder'>
        <div id="map" class='map'></div>
    </div>
    <%= render partial: 'shared/googlemapcall', :locals => {googleMap: 'initMap'} %>
</section>