<nav class='navbar'>
    <div class='logo'>
        <%=  image_tag('logo_trail_up.png')%>
    </div>
    <ul class='nav-links'>
        <li>Find Trails</li>
        <li>Find Events</li>
        <li>Create Event</li>
        <li><%= link_to "SignUp", "/signup" %></li>
        <li>Login</li>
    </ul>
</nav>
