<nav class='navbar'>
    <div class='logo'>
        <%=  image_tag('logo_trail_up.png')%>
    </div>
    <ul class='nav-links'>
        <li>Find Trails</li>
        <li>Find Events</li>
        <%= render current_partial %>

    </ul>
</nav>
