<nav class='navbar'>
    <%=link_to(root_path) do%>
        <div class='logo'>
            <%=  image_tag('logo_trail_up.png')%>
                <span class='brand'>Trail<span class='up'>Up</span></span>
        </div>
        <%end%>
            <ul class='nav-links'>
                <li>
                    <%=link_to 'Find Trails', trails_search_index_path%>
                </li>
                <li>Find Events</li>
                <%= render current_partial %>

            </ul>
</nav>