<nav class='navbar'>
    <div class='logo'>
        Logo
    </div>
    <ul class='nav-links'>
        <li>Find Trails</li>
        <li>Find Events</li>
        <li>Create Event</li>
        <li>SignUp</li>
        <li>Login</li>
    </ul>
</nav>